
body {
    font-family: Arial, Helvetica, sans-serif;
  }
  .navbarVertical{
      display: none;
  }
  .navbarVertical .navbar{
      /* width: 98%; */
      margin-top: 10px;
      margin: auto;
      /* position: sticky; */
      top: 1%;
      right: 0%;
      z-index: 20;
  }
  .navbarVertical .mobile-container {
      max-width: 480px;
      margin: auto;
      background-color: #555;
      height: 500px;
      color: white;
      border-radius: 10px;
  }
  
  .navbarVertical .topnav {
      overflow: hidden;
      background-color: #333;
      position: relative;
      display: flex;
      flex-direction: column;
      box-shadow: 3px -4px 59px 0px rgba(0, 0, 0, 0.75) inset;
      width: 98%;
      margin: auto;
      /* margin: 0vw 2vw; */
    }
    
  .navbarVertical #home_nav{
      background-color: black;
      box-shadow: 10px 10px 198px 0px rgba(0,0,0,0.75) inset;
      -webkit-box-shadow: 10px 10px 198px 0px rgba(0,0,0,0.75) inset;
      -moz-box-shadow: 10px 10px 198px 0px rgba(0,0,0,0.75) inset;
    }
  .navbarVertical  .topnav #myLinksVertical {

      display: none;
      flex-direction: column;
      /* justify-content: space-between; */
    }
    .navbarVertical .topbar{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .navbarVertical .row1, .navbarVertical .row2 {
        display: flex;
        width: 100%;
        justify-content: space-between;
        background-color: #121111;
    }

  .navbarVertical .topnav a {
      float: left;
      color: white;
      padding: 14px 16px;
      text-decoration: none;
      /* font-size: 17px; */
      text-shadow: 0 0 10px #03bcf4,
      0 0 20px #03bcf4,
      0 0 40px #03bcf4,
      0 0 80px #03bcf4,
      0 0 160px #03bcf4;
      /* box-shadow: 10px 10px 198px 0px rgba(3,188,244,0.75);
  -webkit-box-shadow: 10px 10px 198px 0px rgba(3,188,244,0.75);
  -moz-box-shadow: 10px 10px 198px 0px rgba(3,188,244,0.75); */
    }

.navbarVertical .topbar .heading, .mylinksVertical .row1, .mylinksVertical .row2 {
      box-shadow: 10px 10px 198px 0px rgba(3,188,244,0.75);
      -webkit-box-shadow: 10px 10px 198px 0px rgba(3,188,244,0.75);
      -moz-box-shadow: 10px 10px 198px 0px rgba(3,188,244,0.75);
  } 
  .navbarVertical .topbar .heading{
    width: inherit;
    text-align: center;
    background-color: #121111;
  }

  .navbarVertical .topnav a.icon {
      float: right;
      align-self: flex-end;
  }
  
  .navbarVertical .topnav a:hover, .topnav #home_nav:hover {
    background-color: black;
    box-shadow: 10px 10px 198px 0px rgba(3,188,244,0.75);
  -webkit-box-shadow: 10px 10px 198px 0px rgba(3,188,244,0.75);
  -moz-box-shadow: 10px 10px 198px 0px rgba(3,188,244,0.75);
    color: #03bcf4;
  }
  .navbarVertical .links{
    width: 100%;
  }
  .navbarVertical .topnav #mylinksVertical .categories{
    
    align-self: flex-start;
    
  }
  @media only screen and (max-width:1025px) {
    .navbarVertical{
      display: flex;
    }
  }
  @media only screen and (max-width:1025px) and (min-width: 720px) {
    .navbarVertical .topnav a {
        font-size: 2.5rem;
    } 
}